/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.letreiro1{
    position: relative;
    left: -70px;
    bottom: -90px;
    width: 393px;
    
    
}

.letreiro2{
    position: relative;
    left: -70px;
    bottom: -90px;
    width: 393px;
    
    
}

.foto1{
    position: relative;
    left: -70px;
    bottom: -90px;
    width: 393px;
    
    
}

.foto2{
    position: relative;
    left: -70px;
    bottom: -90px;
    width: 393px;

}

.foto3{
    position: relative;
    left: -70px;
    bottom: -90px;
    width: 393px;

}

/* Estilos do cabeçalho */
header {
    background: linear-gradient(135deg, #543829 0%, #8B4513 100%);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 36px;
}

/* Estilos do menu de navegação */
nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s; /* Adiciona uma transição suave na mudança de cor do link */
}

nav a:hover {
    color: #ffd700; /* Cor de destaque ao passar o mouse */
}

/* Estilos das seções */
section {
    background: linear-gradient(45deg, #8B4513, #D2B48C); /* Degradê estilo madeira */
    color: #fff;
    padding: 70px;
}

/* Estilos do rodapé */
footer {
    background: linear-gradient(135deg, #543829 0%, #8B4513 100%);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
